* {
  font-family: "Poppins", sans-serif;
}

.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3e5aed;
}

.projectName {
  color: white;
  font-size: 150px;
  margin-top: 250px;
}

.connect-wallet-btn {
  width: 160px;
  height: 60px;
  border: none;
  background-color: #ffffff;
  color: rgb(10, 8, 121);
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.connect-wallet-btn:hover {
  background-color: #091a46;
  color: white;
}

.project-slogan {
  color: white;
  font-weight: 300;
  margin-top: -140px;
}

.navigation {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 25px;
}

.links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

#logo {
  font-weight: bold;
  font-size: 24px;
  margin-right: 900px;
}

.crypto-link {
  margin-right: 50px;
  cursor: pointer;
}

.nft-link {
  cursor: pointer;
}

.price-query-card {
  background-color: #3e5aed;
  width: 720px;
  height: 475px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.token-price-query-input {
  width: 200px;
  height: 39px;
  font-size: 16px;
  border: none;
  text-align: center;
  border-radius: 5px;
}

.token-query-btn {
  fill: none;
  color: white;
  background-color: #2099b4;
  border: none;
  width: 80px;
  height: 42px;
  cursor: pointer;
  margin-left: 15px;
  border-radius: 5px;
}

.price-query {
  color: white;
  font-size: 44px;
}

.price-query-form {
  margin-top: -25px;
}
