* {
  background-color: #3e5aed;
  font-family: "Poppins", sans-serif;
}

.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectName {
  color: white;
  font-size: 150px;
  margin-top: 250px;
}

.connect-wallet-btn {
  width: 160px;
  height: 60px;
  border: none;
  background-color: #ffffff;
  color: rgb(10, 8, 121);
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.connect-wallet-btn:hover {
  background-color: #091a46;
  color: white;
}

.project-slogan {
  color: white;
  font-weight: 300;
  margin-top: -140px;
}
